{{>layout/header}}

    <h1>copycat-webservice v2</h1>
    <div class="col-md-12">
        <!-- Login with Google -->
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">Write a post</a>
                {{#userName}}
                    Logged in as: <span id="user">{{userName}}({{userEmail}})</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/userName}}
                {{^userName}}
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Login with Google</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Login with Naver</a>
                {{/userName}}
            </div>
        </div>
        <br>
        <!-- posts list area -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>No.</th>
                <th>Title</th>
                <th>Author</th>
                <th>Last updated</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDateTime}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>

{{>layout/footer}}